:root{
    --border: 1px solid white;
    --noborder: none;
    --light: #262933;
    --dark: #23242c;
}

.body{
    background-color: var(--dark);
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/*.section-segmenter:nth-child(even){
    background-color: var(--light);
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 15px;
}


@media only screen and (max-width:600px){
    .section-segmenter:nth-child(even){
        background-color: var(--light);
        position: relative;
        left: 0;
        right: 0;
        z-index: 0;
        padding: 15px;
        width: 1400px;
    }
}

.section-segmenter:nth-child(odd){
    padding: 15px;
}*/

h1, .section-title{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
 
a{
    text-decoration: none;
    color: #fd5961;
}

a:hover{
    text-decoration: none;
    text-decoration: underline;
    color: #fd5961;
}

.icon-params {
    color: #fd5961;
    font-size: 30pt;
    padding: 4px;
}

a.icon-params:hover{
    font-size: 300%;
    text-decoration: none;
    color: #fd5961;
}

.text-muted{
    color: rgba(255,255,255,.54)
}

.middot-divider::after {
content: '\00B7';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backlight{
    background-color: var(--light);
}

.backdark{
    background-color: var(--dark);
}

/* #region Navbar*/
/* Add a dark background color with a little bit see-through*/
.navbar{
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 26px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
/* Add a gray color to all the navbar links*/
.navbar li a, .navbar .navbar-brand{
    color: #d5d5d5 !important;
}
/* On hover, the links will turn white*/
.navbar-nav li a:hover{
    background: #ddd !important;
    color: black !important;
}
/* The active link*/
.navbar-nav li.active a{
    /*color: #fff !important;*/
    background-color:#2d2d30 !important;
}
/* Remove border color from the collapsible button*/
.navbar-default .navbar-toggle{
    border-color: transparent;
}
/* #endregion Navbar*/

/* #region Carousel*/
.carousel-inner img{
    width: 100%; 
    margin: auto;
    margin-top: 49px;
}
/* #endregion Carousel*/


/* #region Personal Bio*/
.bio{
    padding-top: 30px;
    /*padding-bottom: 300px;*/
    padding: 50px;
    font-size: 1.5rem;
      
}

#avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
  
/* #endregion Personal Bio*/


/* #region Skills*/
#skills{
    color: white;
    text-align: center;
    font-size: 1.5rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
}

.skills-icons{
    color: #fd5961;
    font-size: 7rem;
    text-decoration: none;
    padding: 4px;
}

.skills-label{
    color: white;
    font-size: 1.5rem;        
}
/* #endregion Skills*/

/* #region Experience*/
#experience{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.5rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;  
}

.experience-card{
    padding: 15px;
    line-height: 28px;
    text-align: left;
    word-break: break-word;
}


/* #endregion Experience*/


/* #region Featured Publications & Presentations*/
#publications{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.5rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;
}

.publications-card{
    padding: 15px;
    line-height: 30px;
    text-align: left;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem; 
}
/* #endregion Pub & Pres*/


/* #region Projects*/
#projects-table{
    border: var(--noborder);
    border-collapse: collapse;
    padding: 20px;
    /*width: 1200px;*/
}

#projects-table th{
    border: var(--noborder);
    border-collapse: collapse;
    /*float: left;*/
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    padding: 15px;
    word-break: break-word;
}

#projects-table td{
    border: var(--noborder);
    border-collapse: collapse;
    /*float: left;*/
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    
    padding: 15px;
    word-break: break-word;
}
/* #endregion Projects*/

    
/* #region Contact Info*/
#contact{
    padding: 30px;
    font-size: 1.5rem; 
}

#contact li{
    font-size: 1.5rem; 
    text-align: left;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.contact a{
    color: #fd5961;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contact-icon{
    font-size: 1.7em;
}
/* #endregion Contact Info*/
