:root{
    --border: 1px solid white;
    --noborder: none;
    --light: #262933;
    --dark: #23242c;
}

.body{
    background-color: var(--dark);
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/*.section-segmenter:nth-child(even){
    background-color: var(--light);
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 15px;
}


@media only screen and (max-width:600px){
    .section-segmenter:nth-child(even){
        background-color: var(--light);
        position: relative;
        left: 0;
        right: 0;
        z-index: 0;
        padding: 15px;
        width: 1400px;
    }
}

.section-segmenter:nth-child(odd){
    padding: 15px;
}*/

h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
 
a{
    text-decoration: none;
    color: #fd5961;
}

a:hover{
    text-decoration: none;
    text-decoration: underline;
    color: #fd5961;
}

.btn, .btn a{
    color: white;
    background-color: var(--light) ;
}

.btn:hover, .btn a:hover{
    background-color: #fd5961 ;
    color: black;
}

.btn-primary{
    border-color: #fd5961;
}

.btn-primary:focus{
    background-color:  #fd5961;
    color: black;
}

.text-muted{
    color: rgba(255,255,255,.54)
}

.middot-divider::after {
content: '\00B7';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive{
    width: 100%;
    max-width: 450px;
    height: auto;
  }

/* #region Navbar*/
/* Add a dark background color with a little bit see-through*/
.navbar{
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 26px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
/* Add a gray color to all the navbar links*/
.navbar li a, .navbar .navbar-brand{
    color: #d5d5d5 !important;
}
/* On hover, the links will turn white*/
.navbar-nav li a:hover{
    background: #ddd !important;
    color: black !important;
}
/* The active link*/
.navbar-nav li.active a{
    /*color: #fff !important;*/
    background-color:#2d2d30 !important;
}
/* Remove border color from the collapsible button*/
.navbar-default .navbar-toggle{
    border-color: transparent;
}
/* #endregion Navbar*/

/* #region Carousel*/
.carousel-inner img{
    width: 100%; 
    margin: auto;
    margin-top: 49px;
}
/* #endregion Carousel*/

/* #region Slideshow container */
.slideshow-container {
    /*max-width: 400px; */
    position: relative;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 98%;
    width: auto;
    margin-top: -22px;
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  /*
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } 
  */
/* #endregion Slideshow container */

/* #region Intro*/
#intro{
    color: white;
    background-color: var(--light);
    font-size: 1.8rem;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;  
    padding-top: 30px;
    padding: 50px; 
}
/* #endregion Intro*/ 


/* #region Web Development */
#web-development{
    color: white;
    background-color: var(--light);
    font-size: 1.8rem;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;  
    padding-top: 30px;
    padding: 50px; 
}
/* #endregion Web Development */

/* #region MRI Processing */
#mri-processing{
    color: white;
    background-color: var(--dark);
    font-size: 1.8rem;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;  
    padding-top: 30px;
    padding: 50px; 
}
/* #endregion MRI Processing */

/* #region Code Demos */
#code-demo{
    color: white;
    background-color: var(--light);
    font-size: 1.8rem;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-weight: normal;  
    padding-top: 30px;
    padding: 50px; 
}
/* #endregion Code Demos */

 /* #region Contact Info*/
 #contact{
    color: white;
    background-color: var(--dark);
    font-size: 1.5rem;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact li{
    font-size: 1.5rem; 
    text-align: left;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
}

.contact a{
    color: #fd5961;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contact-icon{
    font-size: 1.7em;
}
/* #endregion Contact Info*/
